<html>
  <head>
    <link rel="stylesheet" href="static/node_modules/tachyons/css/tachyons.min.css"/>
    <link rel="stylesheet" href="static/mikulov.css"/>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="mw8 ph3-ns">
    {% block content %}
    {% endblock %}
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
      <small class="f6 db tc">
      <a href="/">Home</a>&nbsp;Powered by <a href="https://github.com/vrutkovs/mikulov" target="_blank">Mikulov</a> {% include 'commit.jinja2' %}</small>
    </footer>
    </div>
  </body>
</html>
