<html>
  <head>
    <link rel="stylesheet" href="static/node_modules/tachyons/css/tachyons.min.css"/>
    <link rel="stylesheet" href="static/mikulov.css"/>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
