<html>
  <head>
    <title>Mikulov - anonymous blog platform</title>
  </head>
  <body>
    <form action="/post" method="POST">
      <input type="text" id="title" placeholder="Post title"/><br>
      <textarea id="contents" rows="10" cols="100">Post goes here</textarea>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
